#tittle
{
  background-color: #ebfbff;
   text-align: left;
}
/* navbar */
.navbar{
  margin: auto 5%;
  height:120px;
}
/* buttons */
.nav-button
{
   border-radius: 90px;
   border: #ffff;
   background-color: #ffff;
   font-family: 'Mukta', sans-serif;
   padding:15px 50px;
   position:fixed;
   right:10px;
   top:35px;
 }
 .img
 {


   width:95%;
   border-radius:30px;

 }
 .header-button
 {
   margin:25px 90px;
   background-color: #ff52bf;
   color:#ffff;
   font-family: 'Mukta', sans-serif;
   border-radius: 90px;
   border: #ffff;
   font-family: 'Poppins', sans-serif;
   padding:15px 50px;
}

 /* heading */
 h1
 {
   font-family: 'Poppins', sans-serif;
   text-align: left;
    /* width:70%; */
    margin: auto 15%;

   padding-top: 150px;

 }
 @media screen and (max-width: 1440px) {
  h1 {
    text-align: center;

  }
  .heading-content
  {
    text-align: center;
    padding-left: 60px;
    font-size: 10px;
    font-weight: bold;
  }
}
.heading-content
{
  font-family: 'Open Sans', sans-serif;
  margin: auto 15%;
  width:49%;
  color:gray;
  font-weight:900;
  line-height: 1.5;
  padding-top: 25px;
}
.mockups
{
  margin-right: 200px;
}
/* header */
#header
{
  margin-top:5%;

}
.headerheading
{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-left:100px;
  padding-top:120px;

}
.headingpara
{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color:gray;
  width:80%;
  text-align: left;
  padding-left: 100px;
  padding-top:10px;
  line-height: 1.5;

}
.growtogather
{
  width:85%;
  float: right;
  border-color: #ffff;

}
/* footer */
#footer-mid
{
/* margin: 5% 20% 20% 30%;
padding-left: 20%; */
}
.row-card
{
background-color:#FFF;
height:500px;


}


h5
{
font-family: 'Poppins', sans-serif;
padding-left:500px;
/* margin-left:100px; */
padding-top: 50px;

}
@media screen and (max-width: 1450px) {
  h5
  {
  font-family: 'Poppins', sans-serif;
  padding-left:10px;
  /* margin-left:100px; */
  padding-top: 50px;

  }

}

.footer-button{
  margin:10px 90px;

  background-color: #ff52bf;
  color:#ffff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 90px;
  border: #ffff;
font-family: 'Mukta', sans-serif;
  padding:15px 30px;
}
/* footer */
#footer
{
  background-color:#00252e;
  height:100%;
}
@media screen and (max-width: 1450px) {
 .red {
   margin-top:10%;
  position: relative;


 }
}
 .red{
   margin-left:10%;
   margin-top: 5%;
   background-color:#ffff;
   height:200px;
   width:80%;
  border-width: 1px;
   border-style:ridge;
   border-radius: 20px;
   position:relative;
  top:60px;

 }
 .blue
 {
   background-color:#00252e;


   border:1px solid;

 }
 .h1
 {
   font-family: 'Poppins', sans-serif;
   color:#ffff;
   padding-top:70px;
  font-size:200px;

 }
 .location
 {
   font-family: 'Open Sans', sans-serif;
   float:right;
   color:#ffff;

 }
 .phone
 {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   color:#ffff;
   letter-spacing: 5px;
 }
 .footer-heading{
   color:#fff;
   position:relative;
   top:50%;
 }
 .logof
 {
   color:#fff;
   position:relative;
   top:50%;
   size:9px;
   margin-left:10%;
 }
.Copyright{
  color:#fff;
  margin:5% auto auto 20%;
  padding-left:60%;

}
.cp
{
  color:#fff;
}
